*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

#decoInicio{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
  
#decoInicio button{
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border-color: transparent;

}

#btn1{
background-color: #ff0000;
}

#btn2{
    background-color: #00ff00;
}

#btn3{
    background-color: #0000ff;
}

#btn4{
    background-color: #ffff00;
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-size: 200%;    
}

.nivel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.nivel button {
    margin: 0 20px;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: #feac56; /*Color1*/
    letter-spacing: 1.5px;
    font-size: 15px;
    font-family: "poppins",sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: all 0.3s ease;
    box-shadow:  #ff0101 0px 10px 0px 0px; /*Color2*/
    color: white;
    cursor: pointer;
}

.nivel button:hover{
    box-shadow: #ff0101 0px 7px 0px 0px; /*Color2*/
}

.nivel button:active{
    background-color: #feac56; /*Color1*/
    box-shadow: #ff0101 0px 0px 0px 0px; /*Color2*/
    transform: translateY(5px);
    transition: 200ms;
}

.opcioneDuplicar {
    display: flex;
    justify-content: center;
}
  
.iniciar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
   
}

.iniciar button{
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-family: "poppins",sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    background: #00bfff;
}

.activo {
    background-color: #ff6908 !important;
}

.opcioneDuplicar{
    display: flex;
    align-items: center;
}

.opcioneDuplicar label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .mycheck {
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 1.5 16 16' fill='%23FFFFFF'%3E%3Cpath d='M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z'/%3E%3C/svg%3E");
    width: 30px;
    height: 30px;
    appearance: none;
    border: 1px solid black;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .mycheck:checked {
    background-color: #00ff00;
  }

  .mycheck:focus {
    border-color: black;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);      
  }

  .mycheck:disabled {
    background-color: rgb(198, 198, 198);
    background-image: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .mycheck:disabled:checked {
    background-color: rgb(198, 198, 198);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 1.5 16 16' fill='%23000000'%3E%3Cpath d='M11.383 13.644A1.03 1.03 0 0 1 9.928 15.1L6 11.172 2.072 15.1a1.03 1.03 0 1 1-1.455-1.456l3.928-3.928L.617 5.79a1.03 1.03 0 1 1 1.455-1.456L6 8.261l3.928-3.928a1.03 1.03 0 0 1 1.455 1.456L7.455 9.716z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  }


  .letra{
    font-family: "poppins",sans-serif;
    font-weight: 500;
    font-style: normal;
}