*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#decoInicio button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
}

#btn1{
background-color: red;
}

#btn2{
    background-color: greenyellow;
}

#btn3{
    background-color: blue;
}

#btn4{
    background-color: yellow;
}

.clear {
    clear: both;
  }
  
  