*{
    margin: 0;
    padding: 0;
}

#botonesOpciones button:active{
border: 2px solid yellow;
box-shadow: 0 0 10px yellow;
}

.activo{
    border: 2px solid yellow;
    box-shadow: 0 0 10px yellow;
}

.grid4{
    display: grid;
    grid-template-columns: 10px 10px;
    grid-template-rows: 10px 10px;
    column-gap: 10px;
    row-gap: 7px;
}

.grid6{
    display: grid;
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 10px 10px;
    column-gap: 10px;
    row-gap: 7px;
}

.grid8{
    display: grid;
    grid-template-columns: 10px 10px 10px 10px;
    grid-gap: 7px;
}

.aciertos{
    justify-content: center;
    align-content: center;
    background-color: #CFCFCF;
    border-radius: 10px;
    width: 80px;
}

.fila{
    margin: 20px;

}

.fila div {
    margin-right: 30px;
}